 <!-- About Section -->
 <section id="about" >
     <div class="container">
         <div class="row">
             <div class="col-lg-12 text-center">
                 <h2>About</h2>
                 <hr class="star-primary">
             </div>
         </div>
         <div class="row">
           <p class="#about h2 text-center">会場</p>
             <div class="col-lg-4 col-lg-offset-2">

                 <a href="http://idoltokyo.com/">
                   <p>IDOL Cafe</p>
                 </a>
                 <p>東京都港区南青山5-11-9</p>
                 <p>レキシントン青山 B1F</p>
                 <p>TEL: 03-6427-4779</p>
             </div>
             <div class="col-lg-4 portfolio-item">
               <a href="#idol-map" class="portfolio-link" data-toggle="modal">
                 <img src="img/img_idol_map_small.png" class="img-responsive" alt="IDOLまでの地図">
              </a>
             </div>
         </div>

         <div class="row">
             <div class="col-lg-12  text-center">
                 <p class="#about h2 text-center">日時</p>
                   <p>2017/10/15 日曜日</p>
                   <p>17:30　〜　受付開始</p>
                   <p>18:00　〜　挙式開始</p>
             </div>
         </div>
     </div>
 </section>
