 <!-- Message Section -->
    <section id="message">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <p>この度私たちは結婚式を挙げ  新しい生活の一歩を踏み出すことになりました</p>
                  <p>つきましては日ごろお世話になっている皆様のお立会いのもと  人前結婚式を行いたく存じます</p>
                  <p>皆様には私たちの思いをご理解いただき  証人としてご列席いただければ幸いです</p>
                  <p>挙式後はささやかではございますが  披露宴を催したいと存じます</p>
                  <p>ぜひご出席をいただきたくご案内申し上げます</p>
                  <p class="name">今井智章  今井みさこ</p>
                </div>
            </div>
        </div>
    </section>
