 <!-- Modal -->
<div class="portfolio-modal modal fade" id="idol-map" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>会場までの地図</h2>
                        <hr class="star-primary">
                        <img src="img/img_idol_map_full.png" class="img-responsive img-centered" alt="地図">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> 閉じる</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
