<!-- Registration Section -->
<section id="registration" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Registration</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <p>御出欠に関しまして、御手数ですが以下のフォームよりご記入ください。</p>
              <p>アレルギー等のご記入についてもご協力お願い申し上げます。</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline">
                    <i class="fa fa-edit"></i> 出欠フォーム(Googleフォームが開きます)</a>
            </div>
        </div>
    </div>
</section>
